<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <br> 
            <div class=" p-5 text-center ">
                <br>
                <br>
                <div >
                    <div class="masthead mb-auto">
                        <div class="inner">
                            <h3 class="">Error interno</h3>
                        
                            <strong class="display-1"> 500</strong>
                        </div>
                    </div>

                    <div>
                        <h1>Ocurrió un error interno.</h1>
                        <p class="lead">Trata de refrescar la pagina, si el error persiste comunicate con nosotros.</p>
                        
                    
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</div>