<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Mi perfil</strong>
                </div>
                <div class="card-body">

                    <div *ngFor="let alert of alerts">
                        <alert type="danger" [dismissible]="true">{{ alert }}</alert>
                      </div>

                    {{profileInfo | json}}
                    

                    {{error | json}}
                </div>
                <div class="card-footer">
                    <div class="float-right slide_2">

                   

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
