<app-header [navbarBrandRouterLink]="['/commons/dashboard']" [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/siges.png', width: 130, height: 40, alt: 'ISBG Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/green-box.png', width: 40, height: 40, alt: 'ISBG Logo'}"
  [sidebarToggler]="'lg'" [asideMenuToggler]="'lg'">

  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <strong>{{usuario.nombre}}</strong>

        <img src="{{usuario.urlImagenPerfil}}" class="img-avatar" alt="Usuario no registrado" />
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" href="#/commons/profile"><i class="fa fa-user"></i> Mi perfil</a>
        <a class="dropdown-item"  (click)="logout()"><i class="fa fa-lock"></i>Salir</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized"
    (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="usuario.menu" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <br>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>

  <app-aside [fixed]="true" [display]="false" [ngClass]="'test'">
    <tabset>
      <tab>
        <ng-template tabHeading><i class="icon-speech"></i></ng-template>
        <!--div class="p-3">
          <div class="message">
            <div class="text-truncate font-weight-bold">Liberación usuarios</div>
            <small class="text-muted">Liberacion de modulo de solicitud</small>
            <small class="text-muted">Liberacion de modulo de cancelacion</small>
          </div>
          <hr>
          <div class="message">
            <div class="text-truncate font-weight-bold">Liberación RH</div>
            <small class="text-muted">Liberacion de validacion</small>
          </div>
          <hr>
          <div class="message">
            <div class="text-truncate font-weight-bold">Liberación Contabilidad</div>
            <small class="text-muted">Liberacion de reportes</small>
            <small class="text-muted">Liberacion de validacion ahorro</small>
          </div>

        </div-->
      </tab>
      <tab>
        <ng-template tabHeading><div class="text-truncate font-weight-bold">V 1.0.0</div></ng-template>
      </tab>

    </tabset>
  </app-aside>

</div>
<app-footer>
  <span><a href="">CYBORD DEV</a> &copy; 2020 cybord labs.</span>
</app-footer>