<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Reportes ahorro sistema de caja</strong>
          </div>
          <div class="card-body">
            <div class="row slide_1">
  
              <div class="col-md-2">
                <label for="nombreusuario" class="label">Nombre Usuario</label>
                <input type="text" class="form-control"  nbInput fullWidth id="nombreusu" disabled
                  placeholder="nombreusuario">
              </div>
              <div class="col-md-2">
                <label for="inputtipo" class="label">Tipo Usuario</label>
                <input type="text" class="form-control"  nbInput fullWidth id="inputtipo" disabled
                  placeholder="Tipo de usuario">
              </div>
              <div class="col-md-2">
                <label for="FechaSolicitud" class="label">Fecha Solicitud</label>
                <input type="text" class="form-control"  nbInput fullWidth id="inputCorreo" disabled
                  placeholder="Fecha Solicitud">
              </div>
              <div class="col-md-6">
                <label for="inputActivo" class="label">Tipo Validacion</label>
                <div class="row form-inline">
                  <select id="inputActivo" class="form-control" style="display:block;" fullWidth disabled>
                    <option value="*">Solicitud</option>
                    <option value="1">Cancelacion</option>
                    <option value="0">Cancelacion</option>
                  </select>
  
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                  <button class="btn btn-primary" (click)="updateDataTable(0,10)" disabled>BUSCAR</button>
  
  
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  
  
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Resultados</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col">
  
                <div *ngIf="page.empty === true" class="alert alert-primary" role="alert">
                  No se encontraron resultados
                </div>
                <div class="clearfix" *ngIf="page.empty === false">
  
  
                  
                  <select id="inputunidad" style="display:block;width: 95px; margin-right: 15px;" class="float-right form-control form-control-sm"
                    [(ngModel)]="filterParams.size" *ngIf="page.last==false || page.first==true"
                    (change)="onChangePageSize($event.target.value)">
                    <option value="10">10</option>
                    <option *ngIf="page.number<(page.totalElements/20)" value="20">20</option>
                    <option *ngIf="page.number<(page.totalElements/50)" value="50">50</option>
                  </select>
                  <strong class="float-right"> Tamaño Pagina &nbsp;&nbsp;&nbsp;&nbsp;</strong>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
  
                <div class="table-responsive" *ngIf="page.empty == false">
                  <table class="table table-bordered table-sm">
                    <thead class="thead-dark">
                      <tr>
                        <th class="text-center">NO EMPLEADO</th>
                        <th class="text-center">TIPO EMP</th>
                        <th class="text-center">AHORRADOR</th>
                        <th class="text-center">TIPO TRANSACCION</th>
                        <th class="text-center">MONTO</th>
                        <th class="text-center">FECHA</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let fila of page.content">
                        <td scope="row">{{fila.noEmpleado}}</td>
                        <td scope="row">{{fila.tipoEmpleado}}</td>
                        <td scope="row">{{fila.ahorrador}}</td>
                        <td scope="row">{{fila.tipo}}</td>
                        <td scope="row" class="text-right">{{fila.monto | currency}}</td>
                        <td scope="row">{{fila.fecha}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="clearfix" *ngIf="page.empty == false">
                    <ul class="pagination float-right" *ngIf="page.totalElements > 1">
                      <li class="page-item" *ngIf="page.first==false"><button class="btn page-link"
                          (click)="updateDataTable(0,page.size)"><i class="icon-control-rewind icons"></i></button>
                      </li>
                      <li class="page-item" *ngIf="page.first==false"><button class="btn page-link"
                          (click)="updateDataTable(page.number-1,page.size)">{{page.number}}</button></li>
                      <li class="page-item active"><a class="page-link"><strong>{{page.number+1}}</strong></a></li>
                      <li class="page-item" *ngIf="page.last==false"><button class="btn page-link"
                          (click)="updateDataTable(page.number+1,page.size)">{{page.number+2}}</button></li>
                      <li class="page-item" *ngIf="page.last==false"><button class="btn page-link"
                          (click)="updateDataTable(page.totalPages-1,page.size)"><i class="icon-control-forward icons"></i></button>
                      </li>
                    </ul>
                  </div>
  
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>