<div class="app-body">
    <main class="main abs-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 my-auto mx-auto text-center">           
                    <h3 class="p-1">Sesión Expirada</h3>
                    <div class="img-container">
                        <img class ="p-1 " src="/assets/img/agotado.png"/>
                    </div>
                    <h1 class="p-1">Tu sesión expiro.</h1>
                    <p class="lead">Es necesario autenticarse nuevamente.</p>
                    <a class="btn btn-primary" href="">Autenticarse </a>
                </div>
            </div>
        </div>
    </main>
</div>