<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Altas y bajas de usuarios</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                Filtros de busqueda
              </div>
            </div>
  
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->


    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Resultados</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-striped table-sm">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Nombre</th>
                      <th>Correo</th>
                      <th>Tipo</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Vishnu Serghei</td>
                      <td>vish.serg@gmail.com</td>
                      <td>Interno</td>
                      <td>
                        <span class="badge badge-success">ACTIVO</span>
                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Zonia Phoibos</td>
                      <td>zoe_phantom@gmail.com</td>
                      <td>Externo</td>
                      <td>
                        <span class="badge badge-danger">INACTIVO</span>
                      </td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Einar Randall</td>
                      <td>edgar.ramos@gmail.com</td>
                      <td>Admin</td>
                      <td>
                        <span class="badge badge-success">ACTIVO</span>
                      </td>
                    </tr>
                    <tr>
                      <td>4</td>  
                      <td>Félix Troels</td>
                      <td>elgatofeli@gmail.com</td>
                      <td>Externo</td>
                      <td>
                        <span class="badge badge-success">ACTIVO</span>
                      </td>
                    </tr>
                    <tr>
                      <td>5</td>  
                      <td>Aulus Agmundr</td>
                      <td>Shalalalalala@gmail.com</td>
                      <td>Interno</td>
                      <td>
                        <span class="badge badge-success">ACTIVO</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <nav>
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav>
              </div>
            </div>
  
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>