<div class="animated fadeIn">
    <div class="row">
      <div class = "col">
      <div class="card">
        <div class="card-header">
          <strong>Carga de ahorro externos</strong>
        </div>
        <div class="card-body" >
        
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="file-input">Subir Archivo</label>
            <div class="col-md-9">
            <input id="file-input" type="file" accept=".xlsx, .xls, .csv  " name="file-input" (change)="onFileChange($event.target.files)" class="file-input">
            </div>
            </div>

           
          <div class="table-responsive slide_1" *ngIf="datosAhorro.length > 0" >
            <table class="table table-striped table-sm">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" class="text-center">Cargar</th>
                  <th scope="col" class="text-center">Clave</th>
                  <th scope="col" class="text-center">NSS</th>
                  <th scope="col" class="text-center">Nombre</th>
                  <th scope="col" class="text-center">Ahorra</th>
                  <th scope="col" class="text-center">Monto</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor = "let fila of datosAhorro">
                  <td scope="col" class="text-center"><input type="checkbox" [checked]="fila.aceptar" [(ngModel)]="fila.aceptar"></td>
                  <td scope="row" class="text-center"> {{fila.clave}} </td>
                  <td scope="row" class="text-center"> {{fila.NSS}} </td>
                  <td scope="row" class="text-center"> {{fila.nombre}} </td>
                  <td scope="row" class="text-center"> {{fila.ahorra}} </td>
                  <td scope="row" class="text-center"> {{fila.importe}} </td>

                </tr>

              </tbody>


            </table> 

            <div class="col-sm-6">  
              <button class="btn btn-warning" (click)="clean()">Limpiar</button>  
              
              <button class="btn btn-success" (click)="cargar()">Cargar</button>  
            </div>

          </div>




        </div>
        
      </div>
      
    </div>
    </div>
  </div>