<div class="animated fadeIn">
    <div class = "row">

      <div class="col">
          <div class="col-sm-12 col-md-12">
              <div class="card">
                  <div class="card-header">
                      <strong>Avales</strong>
                  </div>
                  <div class="card-body">
                      <div class="row">
                          <div class="col">
              
                            <div *ngIf="avales.length === 0" class="alert alert-primary" role="alert">
                              No se encontraron resultados
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">

                            <div class="table-responsive" *ngIf="avales.length >0 ">
                              <table class="table table-bordered table-sm">
                                <thead class="thead-dark">
                                  <tr>
                                    <th>Acciones</th>
                                    <th>Nombre del deudor</th>
                                    <th>Monto</th>
                                    <th>Fecha</th>
                                    <th>Status</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let aval of avales">

                                    <td scope="row" class="text-center">
                                        <button class="btn-sm btn-primary"  (click)="mostrarInformacion(aval)"><i
                                          class="fa fa-search fa-sm"></i></button>
                                      </td>
                                      <td scope="row" class="text-left">{{aval.nombreDeudor}}</td>
                                      <td scope="row" class="text-left">$ {{aval.montoPrestamo}}</td>
                                      <td scope="row" class="text-left">{{fecha(aval.fechaCreacion)}}</td>
                                      <td scope="row" *ngIf="aval.estatus === 'SOLICITUD'"><span class="badge badge-info">PENDIENTE</span></td>
                                      <td scope="row" *ngIf="aval.estatus === 'APROBADO'"><span class="badge badge-success">ACEPTADO</span>
                                      <td scope="row" *ngIf="aval.estatus === 'RECHAZADO'"><span class="badge badge-danger">RECHAZADO</span>

                                  </tr>
                                </tbody>
                              </table>
                              
              
                            </div>
                          </div>
                        </div>
                      
                      <p class="alert alert-success" *ngIf="params.success.length > 0" role="alert">{{params.success}}</p>
                  </div>
                  <cybord-loader *ngIf="loading"></cybord-loader>
                  <div class="card-footer">
                      <div class="float-right slide_2">

                      </div>
                  </div>
              </div>
          </div>

    </div>

  
    </div>
</div>

<div bsModal #modalConfirmacion="bs-modal" class="modal fade" id="modalConfirmacion" tabindex="-1" role="dialog" aria-labelledby="modalConfirmacion" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalConfirmacionLabel">Confirmacion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="decline()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {{mensajeModal}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary"  *ngIf="usuario.id !== undefined" (click)="update()" >Si</button>
            <button type="button" class="btn btn-primary"  *ngIf="usuario.id === undefined" (click)="register()" >Si</button>
            <button type="button" class="btn btn-secondary" (click)="decline()" >no</button>
        </div>
      </div>
    </div>
  </div>