<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Trámites ahorro</strong>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 form-group">
              <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label">Nombre</label>
                  <div class="col-md-9">
                    <p class="form-control-static"><strong>{{usuario.nombre}}</strong></p>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="no-emp">No. empleado</label>
                  <div class="col-md-9">
                    <input type="number" id="no-emp" name="text-input" class="form-control" placeholder="No empleado"
                      [(ngModel)]="noEmpleado">
                    <span class="help-block">Introducir no. empleado</span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="office">Oficina</label>
                  <div class="col-md-9">
                    <select id="office" name="office" class="form-control" [(ngModel)]="oficina">
                      <option value="*">Seleccionar</option>
                      <option value="1">Oficina #1</option>
                      <option value="2">Oficina #2</option>
                      <option value="3">Oficina #3</option>
                      <option value="4">Oficina #4</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="quantity">Descuento quincenal</label>
                  <div class="col-md-9">
                    <input type="number" id="quantity" name="text-input" class="form-control" min=100
                      placeholder="100.00" [(ngModel)]="descuentoQuincenal">
                    <span class="help-block">Descuento quincenal</span>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="start-date">Fecha inicio</label>
                  <div class="col-md-9">
                    <input id="start-date" type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                      [bsConfig]="bsConfig" [datesEnabled]="enabledDates" [bsValue]="bsValue">
                    <span class="help-block">fecha inicio descuentos</span>
                  </div>
                </div>


              </form>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 form-group">

              <span class="help-block">
                Yo <strong>{{usuario.nombre}}</strong> con número de trabajador <strong>{{noEmpleado}}</strong> adscrito
                a la Oficina
                <strong>{{oficina}}</strong> autorizo que por este medio se descuente de mi pago de nómina, la cantidad
                de <strong>{{descuentoQuincenal | currency }} </strong>de manera quincenal a partir de la siguiente
                fecha <strong>{{bsValue | date}}</strong>, durante el período
                correspondiente, autorizo que la cantidad retenida sea depositada en la cuenta del PROGRAMA DE
                AHORRO VOLUNTARIO.
                Estoy de acuerdo que la cantidad ahorrada y los intereses que se hubiesen generado me sean
                entregados al término del período.
              </span>
              <br>
              <br>
              <button type="button" class="btn btn-sm btn-success" (click)="requestSolicitud('SolicitudAhorro')">
                <i class="fa fa-dot-circle-o"></i>&nbsp;
                Validar solicitud</button>

                <button type="button" class="btn btn-sm btn-danger" (click)="requestSolicitud('SolicitudAhorro')">
                  <i class="fa fa-dot-circle-o"></i>&nbsp;
                Rechazar solicitud</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>