<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12"> 
            <div class=" p-5 text-center ">
                <div >
                    <div class="masthead mb-auto">
                        <div class="inner">
                            <h3 class="">No registrado</h3>
                        
                            <img class ="p-5" src="/assets/img/warning.png" />
                        </div>
                    </div>

                    <div>
                        <h1>No estas registrado en nuestra plataforma.</h1>
                        <p class="lead">Contacta a operaciones para darte de alta en el sistema.</p>
                        <a class="btn btn-warning" href="https://mail.google.com/mail/u/0/?logout&hl=en"> Salir</a>
                    
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</div>