<div class="app-body">
    <main class="main abs-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 my-auto mx-auto text-center">           
                    <h3 class="p-1">No registrado</h3>
                    <div class="img-container">
                        <img class ="p-1 " src="/assets/img/warning.png"/>
                    </div>
                    <h1 class="p-1">No estas registrado en nuestra plataforma.</h1>
                    <p class="lead">Contacta a operaciones para darte de alta en el sistema.</p>
                    <a class="btn btn-warning"  (click)="logout()"><i class="fa fa-lock"></i>Salir</a>
                </div>
            </div>
        </div>
    </main>
</div>