<div class="animated fadeIn">
  <div class="row">
    <div class="col">

      <div class="card">
        <div class="card-header">
          Reporte ahorro
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels"
              [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"
              (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
          </div>

        </div>
      </div>

    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          Tabla reporte ahorro
        </div>

        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>Mes</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fila of datosTabla">
              <td scope="row">{{fila.mes}}</td>
              <td scope="row">{{fila.cant}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>