<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      
      <div class="card">
        <div class="card-header">
          Reporte ahorro
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <canvas baseChart class="chart"
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
      
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

