<div class="animated fadeIn">
  <div class="row">
    <div class = "col">
    <div class="card">
      <div class="card-body">
        <div class="row">
        <div class="col-4">
          <table class="table table-bordered table-striped table-sm">
            <thead class="thead-dark">
              <tr>
                <th>Fecha</th>
                <th>Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fila of datosTabla">
                <td scope="row">{{fila.fecha | date: 'dd/mm/yyyy hh:mm'}}</td>
                <td scope="row">{{fila.cant}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="chart-wrapper col-8">
          <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels"
            [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"
            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
        </div>
      </div>
      
    </div>
    
  </div>
  </div>
</div>