<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Altas y bajas de usuarios - Filtros de busqueda</strong>
          </div>
          <div class="card-body">
            <div class="row slide_1">
              <div class="col-md-2">
                <label for="inputCorreo" class="label">Correo Usuario</label>
                <input type="text" class="form-control" [(ngModel)]="filterParams.email"
                  [disabled]="filterParams.nombre.length > 0" nbInput fullWidth id="inputCorreo"
                  placeholder="email usuario">
              </div>
              <div class="col-md-3">
                <label for="inputAlias"  class="label">Nombre Usuario</label>
                <input type="text" class="form-control" [(ngModel)]="filterParams.nombre"
                  [disabled]="filterParams.email.length > 0" nbInput fullWidth id="inputAlias" placeholder="Alias usuario">
              </div>
              <div class="col-md-5">
                <label for="inputActivo" class="label">Estado cliente</label>
                <div class="row form-inline">
                  <select id="inputActivo" class="form-control" [(ngModel)]="filterParams.estatus" style="display:block;"
                    fullWidth>
                    <option value="*">TODOS</option>
                    <option value="1">ACTIVO</option>
                    <option value="0">INACTIVO</option>
                  </select>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                  <button class="btn btn-primary" (click)="updateDataTable(0,10)">BUSCAR</button>     
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                  <button class="btn btn-primary" (click)="redirectToUser('*')">NUEVO USUARIO</button>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->


    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Resultados</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-striped table-sm">
                  <thead>
                    <tr>
                      <th>Acciones</th>
                      <th>Id</th>
                      <th>Nombre</th>
                      <th>Correo</th>
                      <th>Tipo</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let fila of page.content">
                       <td scope="row" ><button  class="btn-sm btn-outline-primary" (click)="Editar(fila.id)"><i class="cui-magnifying-glass icons"></i></button></td>
                       <td scope="row">{{fila.id}}</td>
                       <td scope="row">{{fila.nombre}}</td>
                       <td scope="row">{{fila.email}}</td>
                       <td scope="row">{{fila.tipoUsuario}}</td>
                       <td scope="row" *ngIf="fila.activo === true"><span  class="badge badge-success">ACTIVO</span></td>
                       <td scope="row" *ngIf="fila.activo === false"><span  class="badge badge-danger">INACTIVO</span></td>
                     </tr>
                  </tbody>
                </table>
                <nav>
                  <ul class="pagination" *ngIf="page.totalElements > 1">
                    <li class="page-item" *ngIf="page.first==false" ><a class="page-link" (click)="updateDataTable(page.number-1,page.size)">Prev</a></li>
                    <li class="page-item active">
                      <a class="page-link" href="#">{{page.number}}</a>
                    </li>
                    <li class="page-item"  *ngIf="page.last==false"><a class="page-link" (click)="updateDataTable(page.number+1,page.size)">Next</a></li>
                  </ul>
                </nav>
              </div>
            </div>
  
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>