<div class="animated fadeIn">
  
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Saldos</h4>
          <div class="small text-muted">2020</div>
        </div>
        <div class="col-sm-7 d-none d-md-block">
          <button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i></button>
          
        </div>
      </div>
      <div class="row">
        <div class="chart-wrapper col-8">
        
          <!--canvas-- baseChart class="chart"
            [datasets]="barChartData" 
            [labels]="barChartLabels"
            [options]="barChartOptions" 
            [legend]="barChartLegend" 
            [chartType]="barChartType">
          </canvas-->
         
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-xl-6 col-md-6 col-sm-12 col-6">
          <div class="bg-primary theme-color w-100 rounded mb-20" style="padding-top:5%"></div>
          <h6>1 Ahorradores</h6>
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12 col-6">
          <div class="bg-success theme-color w-100 rounded mb-20" style="padding-top:5%"></div>
          <h6>1 Deudores</h6>
        </div>
      </div>
    </div>
  </div>
  
</div>
