<div class="animated fadeIn">
  
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Saldos</h4>
          <div class="small text-muted">November 2020</div>
        </div><!--/.col-->
        <div class="col-sm-7 d-none d-md-block">
          <button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i></button>
          
        </div><!--/.col-->
      </div><!--/.row-->
      <!--div-- class="chart-wrapper" style="height:300px;margin-top:40px;">
        <canvas baseChart class="chart"
        [datasets]="mainChartData"
        [labels]="mainChartLabels"
        [options]="mainChartOptions"
        [colors]="mainChartColours"
        [legend]="mainChartLegend"
        [chartType]="mainChartType"></canvas>
      </div-->
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-xl-6 col-md-6 col-sm-12 col-6">
          <div class="bg-primary theme-color w-100 rounded mb-20" style="padding-top:5%"></div>
          <h6>235 Ahorradores</h6>
        </div>
        <div class="col-xl-6 col-md-6 col-sm-12 col-6">
          <div class="bg-success theme-color w-100 rounded mb-20" style="padding-top:5%"></div>
          <h6>123 Deudores</h6>
        </div>
      </div>
    </div>
  </div>
  <!--/.card-->
  
</div>
