<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Trámites ahorro</strong>
        </div>
        <div class="card-body bg-gray-100" >
          <div class="row">
            <div class="col-sm-12">

              <div *ngFor="let alert of alerts">
                <alert type="danger" [dismissible]="true">{{ alert }}</alert>
              </div>

              <tabset #staticTabs>
                <tab>
                    <ng-template tabHeading ><i class="icon-docs"></i>&nbsp; Solicitud</ng-template>
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                        <p *ngIf="solicitudAhorro.id !==undefined" ><strong>Solicitud No. {{solicitudAhorro.id}}</strong></p>
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label">Nombre</label>
                            <div class="col-md-9">
                              <p class="form-control-static"><strong>{{usuario.nombre}}</strong></p>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="no-emp">No. empleado</label>
                            <div class="col-md-9">
                              <input type="number" id="no-emp" name="text-input" class="form-control" disabled
                                placeholder="No empleado" [(ngModel)]="usuario.noEmpleado">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="office">Oficina</label>
                            <div class="col-md-9" >
                              <input type="text" id="oficina" name="oficina" class="form-control" disabled
                                placeholder="Oficina empleado" [(ngModel)]="usuario.datosUsuario.OFICINA">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="quantity">Descuento quincenal</label>
                            <div class="col-md-9">
                              <input type="number" id="quantity" name="quantity" class="form-control" min=100 [disabled] = "solicitudAhorro.id !== undefined && solicitudAhorro.status !=='Rechazada'"
                                placeholder="100.00"  [(ngModel)]="solicitudAhorro.atributos.MONTO" min="100" max="20000">
                              <span class="help-block" *ngIf="solicitudAhorro.id === undefined">Descuento quincenal</span>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="start-date">Fecha inicio</label>
                            <div class="col-md-9">
                              <input id="start-date" type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                                [bsConfig]="{ containerClass: 'theme-dark-blue' }" [datesEnabled]="enabledDates"
                                 [(bsValue)]="bsValue" *ngIf="solicitudAhorro.atributos.FECHA === undefined || solicitudAhorro.status ==='Rechazada'">
                                 <input type="text" id="start-date" name="start-date" class="form-control" disabled *ngIf="solicitudAhorro.atributos.FECHA !== undefined && solicitudAhorro.status !=='Rechazada'"
                                 placeholder="fecha inicio descuentos" [(ngModel)]="solicitudAhorro.atributos.FECHA">
                              <span class="help-block" *ngIf="solicitudAhorro.atributos.FECHA === undefined">fecha inicio descuentos</span>
                            </div>
                          </div>
                        </form>
                      </div>
  
                      <div class="col-xs-12 col-sm-12 col-md-6 form-group">
  
                        
                        <span class="help-block">
                          Yo  <strong>{{usuario.nombre}}</strong> con número de trabajador <strong>{{usuario.noEmpleado}}</strong> adscrito a la Oficina 
                          <strong>{{usuario.datosUsuario.OFICINA}}</strong> autorizo que por este medio se descuente de mi pago de nómina, la cantidad
                          de <strong> $ {{solicitudAhorro.atributos.MONTO }} </strong>de manera quincenal a partir de la siguiente fecha <strong>{{bsValue | date}}</strong>, durante el período
                          correspondiente, autorizo que la cantidad retenida sea depositada en la cuenta del PROGRAMA DE
                          AHORRO VOLUNTARIO.
                          Estoy de acuerdo que la cantidad ahorrada y los intereses que se hubiesen generado me sean
                          entregados al término del período.
                        </span>
                        <br>
                        <br>
                        <button type="button" class="btn btn-sm btn-success" (click)="openModal('SolicitudAhorro')" 
                              *ngIf="solicitudAhorro.id === undefined || solicitudAhorro.status ==='Rechazada'" [disabled]="loading">
                          <i class="fa fa-dot-circle-o" ></i>&nbsp;Enviar solicitud</button>
                          <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                      </div>
  
                    </div>

                    <div class="row" *ngIf="solicitudAhorro.id !== undefined && solicitudAhorro.validaciones.length>0">
                      <div class="col"></div>
                      <div class="col-6">
                        <div class="alert alert-success" role="alert" *ngIf="solicitudAhorro.status === 'Finalizada'" >
                          La solicitud de ahorro fue exitosamente aprobada.
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="solicitudAhorro.status === 'Rechazada'">
                          La solicitud de ahorro fue rechazada, el motivo es : {{solicitudAhorro.statusDetalle}}.
                        </div>
                        <div class="alert alert-warning" role="alert" *ngIf="solicitudAhorro.status !== 'Rechazada' && solicitudAhorro.status !== 'Finalizada'">
                          La solicitud de ahorro se encuentra en tramite.
                        </div>

                        <strong>Autorizaciones</strong>
                        <br/>
                        <br/>
                        <table class="table table-bordered table-striped table-sm">
                          <thead class="thead-dark">
                            <tr>
                              <th>FECHA</th>
                              <th>AREA</th>
                              <th>ESTATUS</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let fila of solicitudAhorro.validaciones">
                              <td scope="row">{{fila.fechaCreacion | date: 'dd/MM/yyyy'}}</td>
                              <td scope="row">{{fila.area }}</td>
                              <td scope="row">
                                <span class="badge badge-success" *ngIf="fila.status">APROBADA</span>
                                <span class="badge badge-danger" *ngIf="!fila.status">RECHAZADO</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col"></div>

                    </div>
                  </tab>
                  <tab *ngIf="solicitudAhorro.status==='Finalizada'">
                    <ng-template tabHeading  ><i class="icon-refresh"></i>&nbsp; Modificación</ng-template>
                    <br>
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label">Nombre</label>
                            <div class="col-md-9">
                              <p class="form-control-static"><strong>{{usuario.nombre}}</strong></p>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="no-emp">No. empleado</label>
                            <div class="col-md-9">
                              <input type="number" id="no-emp" name="text-input" class="form-control" disabled
                                placeholder="No empleado" [(ngModel)]="usuario.noEmpleado">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="office">Oficina</label>
                            <div class="col-md-9" >
                              <input type="text" id="oficina" name="oficina" class="form-control" disabled
                                placeholder="Oficina empleado" [(ngModel)]="usuario.datosUsuario.OFICINA">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="quantity1">Descuento quincenal actual</label>
                            <div class="col-md-9">
                              <input type="number" id="quantity1" name="quantity1" class="form-control" min=100 [disabled] = "solicitudModificacion.atributos.MONTO !== undefined"
                                placeholder="100.00"  [(ngModel)]="solicitudModificacion.atributos.MONTO" min="100" max="20000">
                              <span class="help-block" *ngIf="solicitudModificacion.atributos.MONTO === undefined">Descuento actual</span>
                            </div>
                          </div>
                          
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="quantity">Nuevo descuento</label>
                            <div class="col-md-9">
                              <input type="number" id="quantity" name="quantity" class="form-control" min=100 [disabled] = "solicitudModificacion.id !== undefined"
                                placeholder="100.00"  [(ngModel)]="solicitudModificacion.atributos.MONTO_MODIFICACION" min="100" max="20000">
                              <span class="help-block" *ngIf="solicitudModificacion.id === undefined">Nueva cantidad</span>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="start-date">Fecha modificacion</label>
                            <div class="col-md-9">
                              <input id="modif-date" type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                                [bsConfig]="{ containerClass: 'theme-dark-blue' }" [datesEnabled]="enabledDates"
                                 [(bsValue)]="bsValue" *ngIf="solicitudModificacion.atributos.FECHA === undefined">
                                 <input type="text" id="modif-date" name="modif-date" class="form-control" disabled *ngIf="solicitudModificacion.atributos.FECHA !== undefined"
                                 placeholder="fecha inicio descuentos" [(ngModel)]="solicitudModificacion.atributos.FECHA">
                              <span class="help-block" *ngIf="solicitudModificacion.atributos.FECHA === undefined">fecha modificacion descuento</span>
                            </div>
                          </div>
                        </form>
                      </div>
  
                      <div class="col-xs-12 col-sm-12 col-md-6 form-group">
  
                        <span class="help-block">
                          Yo  <strong>{{usuario.nombre}}</strong> con número de trabajador <strong>{{usuario.noEmpleado}}</strong> adscrito a la Oficina 
                          <strong>{{usuario.datosUsuario.OFICINA}}</strong> solicito por este medio se modifique el descuento de <strong> $ {{solicitudModificacion.atributos.MONTO }} </strong> 
                          que se me aplica en mi pago de nómina por la por la cantidad de <strong> $ {{solicitudModificacion.atributos.MONTO_MODIFICACION }} </strong> aplicable a partir de la fecha <strong>{{bsValue | date}}</strong>.
                        </span>
                        <br>
                        <br>
                        <button type="button" class="btn btn-sm btn-success" (click)="openModal('ModificacionAhorro')" 
                              *ngIf="solicitudModificacion.id === undefined || solicitudModificacion.status ==='Rechazada'" [disabled]="loading">
                          <i class="fa fa-dot-circle-o" ></i>&nbsp;Enviar solicitud</button>
                          <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                      </div>
  
                    </div>

                    <div class="row" *ngIf="solicitudModificacion.id !== undefined && solicitudModificacion.validaciones.length>0">
                      <div class="col"></div>
                      <div class="col-6">

                        <div class="alert alert-success" role="alert" *ngIf="solicitudModificacion.status === 'Finalizada'" >
                          La modificación del ahorro fue exitosamente aprobada.
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="solicitudModificacion.status === 'Rechazada'">
                          La modificación del ahorro fue rechazada, el motivo es : {{solicitudModificacion.statusDetalle}}.
                        </div>
                        <div class="alert alert-warning" role="alert" *ngIf="solicitudModificacion.status !== 'Rechazada' && solicitudModificacion.status !== 'Finalizada'">
                          La modificación del ahorro se encuentra en tramite.
                        </div>
                        <strong>Autorizaciones</strong>
                        <br/>
                        <br/>
                        <table class="table table-bordered table-striped table-sm">
                          <thead class="thead-dark">
                            <tr>
                              <th>FECHA</th>
                              <th>AREA</th>
                              <th>ESTATUS</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let fila of solicitudModificacion.validaciones">
                              <td scope="row">{{fila.fechaCreacion | date: 'dd/MM/yyyy'}}</td>
                              <td scope="row">{{fila.area }}</td>
                              <td scope="row">
                                <span class="badge badge-success" *ngIf="fila.status">APROBADA</span>
                                <span class="badge badge-danger" *ngIf="!fila.status">RECHAZADO</span>
                              </td>
                              
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col"></div>
                    </div>
                  </tab>
                  <tab *ngIf="solicitudAhorro.status==='Finalizada'">
                    <ng-template tabHeading><i class="icon-reload"></i>&nbsp; Retiro Parcial</ng-template>
                    <br>
  
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label">Nombre</label>
                            <div class="col-md-9">
                              <p class="form-control-static"><strong>{{usuario.nombre}}</strong></p>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="no-emp">No. empleado</label>
                            <div class="col-md-9">
                              <input type="number" id="no-emp" name="text-input" class="form-control" disabled
                                placeholder="No empleado" [(ngModel)]="usuario.noEmpleado">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="office">Oficina</label>
                            <div class="col-md-9" >
                              <input type="text" id="oficina" name="oficina" class="form-control" disabled
                                placeholder="Oficina empleado" [(ngModel)]="usuario.datosUsuario.OFICINA">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="quantity3">Monto de retiro</label>
                            <div class="col-md-9">
                              <input type="number" id="quantity3" name="quantity" class="form-control" min=100 [disabled] = "solicitudRetiro.id !== undefined && solicitudRetiro.status !=='Rechazada'"
                                placeholder="100.00"  [(ngModel)]="solicitudRetiro.atributos.MONTO" min="100" max="20000">
                              <span class="help-block" *ngIf="solicitudRetiro.id === undefined">Monto de retiro</span>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="account">Cuenta CLABE</label>
                            <div class="col-md-9">
                              <input type="text" id="account" name="account" class="form-control" [disabled] = "solicitudRetiro.id !== undefined && solicitudRetiro.status !=='Rechazada'"
                              placeholder="0000 0000 0000 0000"  [(ngModel)]="solicitudRetiro.atributos.NO_CUENTA" >
                              <span class="help-block" *ngIf="solicitudRetiro.id === undefined">Cuenta interbancaria CLABE</span>
                            </div>
                          </div>
                        </form>
                      </div>
  
                      <div class="col-xs-12 col-sm-12 col-md-6 form-group">
  
                        <span class="help-block">
                          Yo  <strong>{{usuario.nombre}}</strong> con número de trabajador <strong>{{usuario.noEmpleado}}</strong> adscrito a la Oficina 
                          <strong>{{usuario.datosUsuario.OFICINA}}</strong> solicito por este medio la cantidad de $ {{solicitudRetiro.atributos.MONTO}}
                          por concepto de Retiro Parcial de mi ahorro, que sea depositado a la cuenta {{solicitudRetiro.atributos.NO_CUENTA}}
                        </span>
                        <br>
                        <br>
                        <button type="button" class="btn btn-sm btn-success" (click)="openModal('RetiroParcialAhorro')" 
                              *ngIf="solicitudRetiro.id === undefined || solicitudRetiro.status ==='Rechazada'" [disabled]="loading">
                          <i class="fa fa-dot-circle-o" ></i>&nbsp;Enviar solicitud</button>
                          <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                      </div>
  
                    </div>

                    <div class="row" *ngIf="solicitudRetiro.id !== undefined && solicitudRetiro.validaciones.length>0">
                      <div class="col"></div>
                      <div class="col-6">
                        <div class="alert alert-success" role="alert" *ngIf="solicitudRetiro.status === 'Finalizada'" >
                          La solicitud de ahorro fue exitosamente aprobada.
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="solicitudRetiro.status === 'Rechazada'">
                          La solicitud de ahorro fue rechazada, el motivo es : {{solicitudAhorro.statusDetalle}}.
                        </div>
                        <div class="alert alert-warning" role="alert" *ngIf="solicitudRetiro.status !== 'Rechazada' && solicitudRetiro.status !== 'Finalizada'">
                          La solicitud de ahorro se encuentra en tramite.
                        </div>

                        <strong>Autorizaciones</strong>
                        <br/>
                        <br/>
                        <table class="table table-bordered table-striped table-sm">
                          <thead class="thead-dark">
                            <tr>
                              <th>FECHA</th>
                              <th>AREA</th>
                              <th>ESTATUS</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let fila of solicitudRetiro.validaciones">
                              <td scope="row">{{fila.fechaCreacion | date: 'dd/MM/yyyy'}}</td>
                              <td scope="row">{{fila.area }}</td>
                              <td scope="row">
                                <span class="badge badge-success" *ngIf="fila.status">APROBADA</span>
                                <span class="badge badge-danger" *ngIf="!fila.status">RECHAZADO</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col"></div>

                    </div>
                  </tab>
                  <tab *ngIf="solicitudAhorro.status==='Finalizada'">
                    <ng-template tabHeading><i class="icon-envelope-open"></i>&nbsp; Cancelación</ng-template>
                    <br>
  
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label">Nombre</label>
                            <div class="col-md-9">
                              <p class="form-control-static"><strong>{{usuario.nombre}}</strong></p>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="no-emp">No. empleado</label>
                            <div class="col-md-9">
                              <input type="number" id="no-emp" name="text-input" class="form-control" disabled
                                placeholder="No empleado" [(ngModel)]="usuario.datosUsuario.NO_EMPLEADO">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="office">Oficina</label>
                            <div class="col-md-9" >
                              <input type="text" id="oficina" name="oficina" class="form-control" disabled
                                placeholder="Oficina empleado" [(ngModel)]="usuario.datosUsuario.OFICINA">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="quantity">Descuento quincenal</label>
                            <div class="col-md-9">
                              <input type="number" id="quantity" name="quantity" class="form-control" min=100 [disabled] = "solicitudAhorro.id !== undefined"
                                placeholder="100.00"  [(ngModel)]="solicitudAhorro.atributos.MONTO" min="100" max="20000">
                              <span class="help-block" *ngIf="solicitudAhorro.id === undefined">Descuento quincenal</span>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="start-date">Fecha inicio</label>
                            <div class="col-md-9">
                              <input id="start-date" type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                                [bsConfig]="{ containerClass: 'theme-dark-blue' }" [datesEnabled]="enabledDates"
                                 [(bsValue)]="bsValue" *ngIf="solicitudAhorro.atributos.FECHA === undefined">
                                 <input type="text" id="start-date" name="start-date" class="form-control" disabled *ngIf="solicitudAhorro.atributos.FECHA !== undefined"
                                 placeholder="fecha inicio descuentos" [(ngModel)]="solicitudAhorro.atributos.FECHA">
                              <span class="help-block" *ngIf="solicitudAhorro.atributos.FECHA === undefined">fecha inicio descuentos</span>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="textarea-input">Motivo de cancelacion</label>
                            <div class="col-md-9">
                              <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Razón o motivo de cancelación del ahorro"></textarea>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="start-date">Cuenta deposito</label>
                            <div class="col-md-9">
                              <input type="text" class="form-control" id="ccnumber" placeholder="0000 0000 0000 0000">
                              <span class="help-block">cuenta deposito</span>
                            </div>
                          </div>  
                        </form>
                      </div>
  
                      <div class="col-xs-12 col-sm-12 col-md-6 form-group">
  
                        <span class="help-block">
                          Yo  <strong>{{usuario.nombre}}</strong> con número de trabajador <strong>{{usuario.noEmpleado}}</strong> adscrito a la Oficina
                          <strong>{{usuario.datosUsuario.OFICINA}}</strong> solicito por este medio se cancele el
                          descuento que se aplica en mi pago de nómina la cantidad de de $ ###.## de manera quincenal
                          a partir de la siguiente fecha yyyy-MM-dd, debido a RAZON_MOTIVO_CANCELACIÓN y asimismo se me
                          reintegre la
                          cantidad ahorrada en la cuenta del PROGRAMA DE AHORRO VOLUNTARIO a mi cuenta 0000 0000 0000 0000
                        </span>
                        <br>
                        <br>
                        <button type="button" class="btn btn-sm btn-success" (click)="openModal('CancelacionAhorro')" [disabled]="loading"><i class="fa fa-dot-circle-o"></i>&nbsp;
                          Enviar solicitud
                          <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                        </button>
                      </div>
  
                    </div>

                    <div class="row" *ngIf="solicitudCancelacion.id !== undefined && solicitudCancelacion.validaciones.length>0">
                      <div class="col"></div>
                      <div class="col-6">
                        <strong>Autorizaciones</strong>
                        <br/>
                        <br/>
                        <table class="table table-bordered table-striped table-sm">
                          <thead class="thead-dark">
                            <tr>
                              <th>FECHA</th>
                              <th>AREA</th>
                              <th>ESTATUS</th>
                              <th>OBSERVACIONES</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let fila of solicitudCancelacion.validaciones">
                              <td scope="row">{{fila.fechaCreacion | date: 'dd/MM/yyyy'}}</td>
                              <td scope="row">{{fila.area }}</td>
                              <td scope="row">
                                <span class="badge badge-success" *ngIf="fila.status">APROBADA</span>
                                <span class="badge badge-danger" *ngIf="!fila.status">RECHAZADO</span>
                              </td>
                              <td scope="row">{{fila.statusDetalle}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col"></div>
                    </div>
                  </tab>
              </tabset>

            </div>
          </div>

          <br>
          <p class="alert alert-success" *ngIf="success.length > 0" role="alert">{{success}}</p>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>

<div bsModal #modalConfirmacion="bs-modal" class="modal fade" id="modalConfirmacion" tabindex="-1" role="dialog" aria-labelledby="modalConfirmacion" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalConfirmacionLabel">Confirmacion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelar()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          ¿Estas seguro que quieres enviar la solicitud?
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="aceptar()" >Si</button>
          <button type="button" class="btn btn-secondary" (click)="cancelar()" >No</button>
      </div>
    </div>
  </div>
</div>