<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Validaciones</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                Filtros de busqueda
              </div>
            </div>
  
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->


    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Resultados</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered table-striped table-sm">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Fecha solicitud</th>
                      <th>Tipo Usuario</th>
                      <th>Tipo Validacion</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Vishnu Serghei</td>
                      <td>2012/01/01</td>
                      <td>Interno</td>
                      <td>
                        <span class="badge badge-success">Solicitud</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Zonia Phoibos</td>
                      <td>2012/02/01</td>
                      <td>Externo</td>
                      <td>
                        <span class="badge badge-danger">Cancelacion</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Einar Randall</td>
                      <td>2012/02/01</td>
                      <td>Admin</td>
                      <td>
                        <span class="badge badge-secondary">Modificacion</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Félix Troels</td>
                      <td>2012/03/01</td>
                      <td>Externo</td>
                      <td>
                        <span class="badge badge-warning">Retiro Parcial</span>
                      </td>
                    </tr>
                    <tr>
                      <td>Aulus Agmundr</td>
                      <td>2012/01/21</td>
                      <td>Interno</td>
                      <td>
                        <span class="badge badge-success">Solicitud</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <nav>
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                  </ul>
                </nav>
              </div>
            </div>
  
          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>