
        <div class="container">
            <div class="row">
                <div class="col-sm-12"> 
                    <div class=" p-5 text-center ">
                        <br>
                        <div >
                            <br>
                            <br>
                            <div class="masthead mb-auto">
                                <div class="inner">
                                    <h3 class="">No se encuentra la página</h3>
                                
                                    <strong class="display-1"> 404</strong>
                                </div>
                            </div>

                            <div>
                                <h1>Se realizó una solicitud incorrecta.</h1>
                                <p class="lead">Verifica tu solcitud, si el error persiste comunicate con nosotros.</p>
                                
                            
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>