<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Usuarios</strong>
                </div>
                <div class="card-body">

                    <div class="alert alert-warning" *ngIf="errorMessages.length > 0" role="alert">
                        <p *ngFor="let message of errorMessages">{{message}}</p>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-8">
                            <form [formGroup]="registerForm">
                                <div class="form-group row">
                                    <strong class="col-md-3 col-form-label">Nombre</strong>
                                    <div class="col-md-9">
                                        <input type="text" formControlName="alias" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.alias.errors }"
                                            [(ngModel)]="usuario.nombre" placeholder="Sobrenombre o alias" />
                                            <div *ngIf="submitted && f.alias.errors" class="invalid-feedback">
                                                <div *ngIf="f.alias.errors.required">El alias es requerido.</div>
                                                <div *ngIf="f.alias.errors.minlength">Nececitas un minimo de 2 caracteres.
                                                </div>
                                                <div *ngIf="f.alias.errors.maxlength">No mas de 100 caracteres.</div>
                                                <div *ngIf="f.alias.errors.pattern">Hay caracteres invalidos.</div>
                                            </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <strong class="col-md-3 col-form-label">Email</strong>
                                    <div class="col-md-9">
                                        <input type="text" formControlName="email" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                            [(ngModel)]="usuario.email" placeholder="Correo Electronico" />
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">El correo es requerido.</div>
                                            <div *ngIf="f.email.errors.email">La direccion introducida no es valida.
                                            </div>
                                            <div *ngIf="f.email.errors.pattern">Hay caracteres invalidos.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <strong class="col-md-3 col-form-label">Usuario activo</strong>
                                    <div class="col-md-7">
                                        <label class="switch switch-label switch-primary">
                                            <input type="checkbox" formControlName="activo" class="switch-input" [checked]="this.usuario.activo" [(ngModel)]="this.usuario.activo">
                                            <span class="switch-slider" data-checked="ON" data-unchecked="OFF"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <strong class="col-md-3 col-form-label">Tipo Usuario</strong>
                                    <div class="col-md-7 col-form-label">
                                        <div class="form-check">
                                            <input class="form-check-input" formControlName="tipo" type="radio" name="tipo" id="radio3"
                                                value="INTERNO" [checked]="usuario.tipoUsuario === 'INTERNO'" (click)="toggleUserType()">
                                            <label class="form-check-label" for="radio3">
                                                INTERNO
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" formControlName="tipo" type="radio" name="tipo" id="radio4"
                                                value="EXTERNO" [checked]="usuario.tipoUsuario === 'EXTERNO'" (click)="toggleUserType()">
                                            <label class="form-check-label" for="radio4">
                                                EXTERNO
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </form>

                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="form-group row">
                                    <strong class="col-md-3 col-form-label">No. Empleado</strong>
                                    <div class="col-md-9">
                                        <input type="number" id="no-emp" name="text-inputa" class="form-control"
                                            placeholder="No empleado" [(ngModel)]="usuario.datosUsuario.NO_EMPLEADO">

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <strong class="col-md-3 col-form-label">Oficina</strong>
                                    <div class="col-md-7">
                                        <select id="office" name="office" class="form-control"
                                                [(ngModel)]="usuario.datosUsuario.OFICINA">
                                                <option value="*">Seleccionar</option>
                                                <option value="1">Oficina #1</option>
                                                <option value="2">Oficina #2</option>
                                                <option value="3">Oficina #3</option>
                                                <option value="4">Oficina #4</option>
                                            </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <strong class="col-md-3 col-form-label">Sueldo</strong>
                                    <div class="col-md-7">
                                        <input type="number" id="quantity" name="text-inputafg" class="form-control"
                                                min=1 placeholder="1.00" [(ngModel)]="usuario.datosUsuario.SUELDO">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <strong class="col-md-3 col-form-label">Fecha Antiguiedad</strong>
                                    <div class="col-md-7">
                                        <input id="start-date" type="text" class="form-control" #dp="bsDatepicker"
                                                bsDatepicker [bsValue]="antiguedad">
                                    </div>
                                </div>

                                {{antiguedad | date}}
                            </form>
                            
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label"><strong>Roles</strong></label>
                                <div class="col-md-9 col-form-label">
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="option1" id="checkbox1" [(ngModel)]="roles.USUARIO" [disabled]="params.module !== 'administracion'">
                                    <label class="form-check-label" for="checkbox1">
                                      USUARIO
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="option1" id="checkbox2" [(ngModel)]="roles.RECURSOS_HUMANOS" [disabled]="params.module !== 'administracion'">
                                    <label class="form-check-label" for="checkbox2">
                                      RECURSOS HUMANOS
                                    </label>
                                  </div>
                                  <div class="form-check checkbox">
                                    <input class="form-check-input" type="checkbox" value="option1" id="checkbox3" [(ngModel)]="roles.CONTABILIDAD" [disabled]="params.module !== 'administracion'">
                                    <label class="form-check-label" for="checkbox3">
                                      CONTABILIDAD
                                    </label>
                                  </div>
                                  <div class="form-check checkbox">
                                    <input class="form-check-input" type="checkbox" value="option1" id="checkbox4" [(ngModel)]="roles.TESORERIA" [disabled]="params.module !== 'administracion'">
                                    <label class="form-check-label" for="checkbox4">
                                      TESORERIA
                                    </label>
                                  </div>
                                  <div class="form-check checkbox">
                                    <input class="form-check-input" type="checkbox" value="option1" id="checkbox5" [(ngModel)]="roles.GERENCIA" [disabled]="params.module !== 'administracion'">
                                    <label class="form-check-label" for="checkbox5">
                                      GERENCIA
                                    </label>
                                  </div>
                                  <div class="form-check checkbox">
                                    <input class="form-check-input" type="checkbox" value="option1" id="checkbox6" [(ngModel)]="roles.ADMINISTRACION" [disabled]="params.module !== 'administracion'">
                                    <label class="form-check-label" for="checkbox6">
                                      ADMINISTRACION
                                    </label>
                                  </div>
                                </div>
                              </div>
                          
                        </div>

                    </div>
                
                    <br/>
                    <p class="alert alert-success" *ngIf="params.success.length > 0" role="alert">{{params.success}}</p>
                </div>
                <div class="card-footer">
                    <div class="float-right slide_2">

                        <button class="btn btn-primary" *ngIf="usuario.id === undefined"
                        (click)="registry()" [disabled] = "loading"> Registrar
                        <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                        </button>

                        <button class="btn btn-primary" *ngIf="usuario.id !== undefined"
                        (click)="update()" [disabled] = "loading"> Actualizar 
                        <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                        </button>

                    </div>
                </div>
            </div>
        </div>

    </div>




</div>
