<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>Usuarios</strong>
                </div>
                <div class="card-body">



                    <div class="alert alert-warning" *ngIf="errorMessages.length > 0" role="alert">
                        <p *ngFor="let message of errorMessages">{{message}}</p>
                    </div>
                    <p class="alert alert-success" *ngIf="Params.success.length > 0" role="alert">{{Params.success}}</p>
                    <div class="row slide_1">
                        <div class="col-6">
                            <form [formGroup]="registerForm" class="col">
                                <div class="row">
                                    <div class="col">
                                        <label for="inputCorreo" class="label">Email</label>
                                        <input type="text" formControlName="email" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                            [(ngModel)]="usuario.email" placeholder="Correo Electronico" />
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">El correo es requerido.</div>
                                            <div *ngIf="f.email.errors.email">La direccion introducida no es valida.
                                            </div>
                                            <div *ngIf="f.email.errors.pattern">Hay caracteres invalidos.</div>
                                        </div>
                                    </div>


                                    <div class="col">
                                        <label for="inputtipo" class="label">Tipo Usuario</label>
                                        <input type="text" formControlName="tipo" class="form-control"
                                            [(ngModel)]="usuario.tipoUsuario" placeholder="tipo usuario" />
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <label for="inputActivo" class="label">Activo</label>
                                        <select id="inputActivo" formControlName="activo" class="form-control"
                                            [(ngModel)]="usuario.activo" style="display:block;" fullWidth>

                                            <option value="true">Si</option>
                                            <option value="false">No</option>

                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="inputAlias" class="label">Nombre</label>
                                        <input type="text" formControlName="alias" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.alias.errors }"
                                            [(ngModel)]="usuario.nombre" placeholder="Sobrenombre o alias" />
                                        <div *ngIf="submitted && f.alias.errors" class="invalid-feedback">
                                            <div *ngIf="f.alias.errors.required">El alias es requerido.</div>
                                            <div *ngIf="f.alias.errors.minlength">Nececitas un minimo de 2 caracteres.
                                            </div>
                                            <div *ngIf="f.alias.errors.maxlength">No mas de 20 caracteres.</div>
                                            <div *ngIf="f.alias.errors.pattern">Hay caracteres invalidos.</div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="col-6">

                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">


                                <div class=" row">
                                    <div class="col">
                                        <label class="label" for="start-date">Fecha Antiguedad</label>
                                        <div class="">
                                            <input id="start-date" type="text" class="form-control" #dp="bsDatepicker"
                                                bsDatepicker [bsValue]="date">

                                        </div>
                                    </div>
                                    <div class="col">
                                        <label class="label" for="quantity">Sueldo</label>
                                        <div class="">
                                            <input type="number" id="quantity" name="text-inputafg" class="form-control"
                                                min=1 placeholder="1.00" [(ngModel)]="datos.SUELDO">

                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class=" row">
                                    <div class="col">
                                        <label class="label" for="no-emp">No. empleado</label>
                                        <div class="">
                                            <input type="number" id="no-emp" name="text-inputa" class="form-control"
                                                placeholder="No empleado" [(ngModel)]="datos.NO_EMPLEADO">

                                        </div>
                                    </div>
                                    <div class="col">
                                        <label class="label" for="office">Oficina</label>
                                        <div class="">
                                            <select id="office" name="office" class="form-control"
                                                [(ngModel)]="datos.OFICINA">
                                                <option value="*">Seleccionar</option>
                                                <option value="1">Oficina #1</option>
                                                <option value="2">Oficina #2</option>
                                                <option value="3">Oficina #3</option>
                                                <option value="4">Oficina #4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>



                            </form>
                        </div>
                  
                    </div>
                    
                    
                </div>
                <div class="card-footer">
                    <div class="float-right slide_2">

                        <button class="btn btn-primary" *ngIf="usuario.id === undefined"
                            [disabled]="this.Params.success !== ''" (click)="registry()"> Registrar</button>
                        <button class="btn btn-primary" *ngIf="usuario.id !== undefined"
                            [disabled]="this.actualizando == true" (click)="update()"> Actualizar</button>

                    </div>
                </div>
            </div>

            <!-- <row *ngIf="Params.module === 'administracion'">
                     
                </row> -->
            {{datos | json}}
            
        </div>

    </div>




</div>