<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Solicitud de prestamo</strong>
          </div>
          <div class="card-body" >
            <div class="row">
              <div class="col-sm-12">
  
                <div *ngFor="let alert of alerts">
                  <alert type="danger" [dismissible]="true">{{ alert }}</alert>
                </div>
  
                <cybord-loader *ngIf="loading"></cybord-loader>
                <br>
                <br>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 form-group">
                        <p *ngIf="solicitud.id ===undefined" ><strong>Paso 1  Revise y coloque la infromación general del prestamo</strong></p>

                        <p *ngIf="solicitud.id !==undefined" ><strong>Solicitud No. {{solicitud.id}}</strong></p>
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label">Nombre</label>
                            <div class="col-md-9">
                              <p class="form-control-static"><strong>{{usuario.nombre}}</strong></p>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="no-emp">No. empleado</label>
                            <div class="col-md-9">
                              <input type="number" id="no-emp" name="text-input" class="form-control" disabled
                                placeholder="No empleado" [(ngModel)]="usuario.noEmpleado">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="office">Oficina</label>
                            <div class="col-md-9" >
                              <input type="text" id="oficina" name="oficina" class="form-control" disabled
                                placeholder="Oficina empleado" [(ngModel)]="usuario.datosUsuario.OFICINA">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="quincenasNumber">No quincenas para liquidar</label>
                            <div class="col-md-9">
                              <select id="quincenasNumber" name="quincenasNumber" class="form-control" [(ngModel)]="solicitud.atributos.NO_QUINCENAS" [disabled]="solicitud.id !=undefined"
                              (input)="onChangeNoQuincenas($event.target.value)">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                                <option value="13">13</option>
                                                <option value="14">14</option>
                                                <option value="15">15</option>
                                                <option value="16">16</option>
                                                <option value="17">17</option>
                                                <option value="18">18</option>
                                                <option value="19">19</option>
                                                <option value="20">20</option>
                                                <option value="21">21</option>
                                                <option value="22">22</option>
                                                <option value="23">23</option>
                                                <option value="24">24</option>
                                            </select>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="quantity">Cantidad solicitada</label>
                            <div class="col-md-9" >
                              <input type="number" id="quantity" name="quantity" class="form-control" [(ngModel)]="solicitud.atributos.MONTO" (input)="onChangeAmount($event.target.value)"
                                placeholder="Cantidad solicitada" [disabled]="solicitud.id !=undefined">
                            </div>
                          </div>
                          
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="start-date">Fecha inicio</label>
                            <div class="col-md-9">
                              <input id="start-date" type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                                [bsConfig]="{ containerClass: 'theme-dark-blue' }" [datesEnabled]="enabledDates"
                                 [(bsValue)]="bsValue" *ngIf="solicitud.atributos.FECHA === undefined">
                                 <input type="text" id="start-date" name="start-date" class="form-control" disabled *ngIf="solicitud.atributos.FECHA !== undefined"
                                 placeholder="fecha inicio descuentos" [(ngModel)]="solicitud.atributos.FECHA">
                              <span class="help-block" *ngIf="solicitud.atributos.FECHA === undefined">fecha inicio descuentos</span>
                            </div>
                          </div>
                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 form-group" *ngIf="solicitud.id !== undefined">
                      
                        <strong>Estatus de aceptación avales</strong>
                        <br/>
                        <br/>
                        
                        <table class="table table-bordered table-striped table-sm">
                          <thead class="thead-dark">
                            <tr>
                              <th>DATOS AVAL</th>
                              <th>STATUS</th>
                              <th>COMENTARIOS</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let aceptacion of aceptacionAvales">
                              <td scope="row">{{aceptacion.noEmpleadoAval}}</td>
                              <td scope="row">{{aceptacion.estatus }}</td>
                              <td scope="row" class="text-right">{{aceptacion.comentarios}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <br>
                        <br>
                        <button type="button" class="btn btn-sm btn-danger" (click)="cancelRequest()" *ngIf="solicitud.id !== undefined">
                          <i class="fa fa-dot-circle-o" ></i>&nbsp;Cancelar solicitud<i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 form-group" *ngIf="solicitud.id === undefined">
                      <p *ngIf="solicitud.id ===undefined" ><strong>Paso 2  Registre a los avales requeridos</strong></p>
                      <br/>
                      
                      <div class="form-group row" *ngIf="avales.length == 0 || avales.length < noAvales">
                        <label class="col-md-3 col-form-label" for="autocomplete">Selección de avales</label>
                        <div class="col-md-9" >
                          <div class="ng-autocomplete">
                            <ng-autocomplete #avalSelector
                              [data]="avalesList"
                              [searchKeyword]="'nombre'"
                              placeholder="Ingrese el nombre del aval"
                              (selected)='avalSelected($event)'
                              [(ngModel)] = "autocomplete"
                              [itemTemplate]="itemTemplate"
                              [notFoundTemplate]="notFoundTemplate">
                            </ng-autocomplete>
                          
                            <ng-template #itemTemplate let-item>
                              <a [innerHTML]="item.noEmpleado+' - '+item.nombre"></a>
                            </ng-template>
                          
                            <ng-template #notFoundTemplate let-notFound>
                              <div [innerHTML]="'NO ENCONTRADO'"></div>
                            </ng-template>
                          </div>
                        </div>
                      </div>
                      <small id="avales" class="form-text text-danger" *ngIf="avales.length == 0 || avales.length < noAvales">{{noAvales - avales.length}} avales son requeridos</small>
                      
                      <p *ngIf="avales.length > 0"><strong>Lista de Avales</strong></p>
                      <ul>
                        <li *ngFor="let aval of avales">{{aval.noEmpleado}} - {{aval.nombre}} </li>
                      </ul>
                      <br/>
                      <div *ngIf="avales.length > 0 &&  avales.length === noAvales">
                        <p><strong>TOTAL A PAGAR  : </strong>{{totalPagar | currency}}</p>
                        <p><strong>PAGO QUINCENAL : </strong>{{pagoQuincenal | currency}}</p>
                      </div>

                      <br/>
                      
                      <button type="button" class="btn btn-sm btn-success" (click)="openModal()" 
                              *ngIf="solicitud.id === undefined && avales.length > 0 &&  avales.length === noAvales">
                          <i class="fa fa-dot-circle-o" ></i>&nbsp;Enviar solicitud<i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
                    </div>
                </div>
  
            
  
              </div>
            </div>

          </div>
        </div>
      </div>
      <!--/.col-->
    </div>
    <!--/.row-->
  </div>
  
  <div bsModal #modalConfirmacion="bs-modal" class="modal modal-info fade" id="modalConfirmacion" tabindex="-1" role="dialog" aria-labelledby="modalConfirmacion" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalConfirmacionLabel">Confirmacion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelar()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>¿ <strong>{{usuario.nombre}}</strong>  estas seguro de enviar la solicitud?
            <p>Al <strong> realizar la solicitud</strong> el sistema registra la persona 
              y el momento en que realiza la transacción.</p>
              <form>
                <div class="form-group row">
                  <label for="inputPassword" class="col-sm-2 col-form-label">No empleado</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword" [(ngModel)]="noEmpleado" [ngModelOptions]="{standalone: true}">
                    <small id="noEmpHelp" class="form-text text-muted">Ingresa tu numero de empleado para desbloquear.</small>
                  </div>
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" 
            [ngClass]="{'btn-primary': noEmpleado === usuario.noEmpleado , 'btn-secondary' : noEmpleado !== usuario.noEmpleado }" 
            [disabled]="noEmpleado !== usuario.noEmpleado" (click)="sendRequest()" >Realizar solicitud</button>
            <button type="button" class="btn btn-warning" (click)="cancelar()" >Salir</button>
        </div>
      </div>
    </div>
  </div>
